<%- @page_title = "Checkins#{' — Page ' + @checkins.current_page.to_s if @checkins.current_page > 1}" -%>

<div class="h-feed">
  <header class="content-header">
    <h1 class="p-name">Checkins</h1>
    <%- if @checkins.total_pages > 1 -%>
      <small>Page <%= @checkins.current_page %> of <%= @checkins.total_pages %></small>
    <%- end -%>
  </header>

  <div class="content-container">
    <%- if @checkins.any? -%>
      <div class="entries" reversed>
        <%- @checkins.each do |checkin| -%>
          <div>
            <%= render 'francis_cms/shared/checkin_hentry', checkin: checkin %>
          </div>
        <%- end -%>
      </div>

      <%#= will_paginate @checkins %>

      <%= render 'francis_cms/shared/archives_promo', url: Rails.application.routes.url_helpers.archives_checkins_path %>
    <%- else -%>
      <p>No checkins found!</p>
    <%- end -%>
  </div>

  <footer class="content-footer">
    <%= render 'francis_cms/shared/author_hcard' %>
  </footer>
</div>