<%- is_expanded = true if is_expanded.nil? -%>

<article class="entry h-entry" data-entry-type="checkin">

  <span class="p-name">Checked in to 
    <span class="u-checkin h-card">
      <a href="http://example.com/venue" class="p-name"><%= checkin.title %></a>
      <data class="p-latitude" value="<%= checkin.latitude %>"></data>
      <data class="p-longitude" value="<%= checkin.longitude %>"></data>
    </span>
  </span>
  <div class="e-content"><%= checkin.body.html_safe %></div>

  <%- if checkin.published_at? -%>
    <footer class="entry-footer">
      <p>
        Published on <time class="dt-published" datetime="<%= checkin.published_at.to_s(:iso8601) %>">
        <%= raw checkin.published_at.to_s(:display) %></time>.
        <%= link_to 'Permalink', Rails.application.routes.url_helpers.checkin_path(checkin) %>
      </p>
    </footer>
  <%- else -%>
    <%= link_to 'Draft', Rails.application.routes.url_helpers.edit_checkin_path(checkin), class: 'draft' %>
  <%- end -%>
</article>